<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	
	<bean id="penBean"
		class="ru.lab2.Pen">
		<constructor-arg value="red"/>
	</bean>
	
	
	<bean id="itemBean"
		class="ru.lab2.Pencil">
		<constructor-arg value="wood"/>
	</bean>
	
	<bean id="pencilCaseBean"
		class="ru.lab2.PencilCase">
		<constructor-arg ref="itemBean" />
	</bean>
	
	<context:property-placeholder location="classpath:resources/eraser.properties"/>
	<bean id="eraserBean"
		class="ru.lab2.Eraser">
		<property name="width" value="${Eraser.width}" />
		<property name="height" value="3"/>
	</bean>
	
	
	</beans>